<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block  title %} Магазин музыкальных инструментов {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="{% static 'ItemSlider/css/main-style.css' %}" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
{% include 'inc/_header.html' %}
{% block content %} {% endblock %}
<!-- /.container -->
<!--Footer -->
{% include 'inc/_footer.html' %}
<!-- /.col -->
<!--Footer end -->
<!--Core JavaScript file  -->
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<!--bootstrap JavaScript file  -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--Slider JavaScript file  -->
<script src="{% static 'ItemSlider/js/modernizr.custom.63321.js' %}"></script>
<script src="{% static 'ItemSlider/js/jquery.catslider.js' %}"></script>
<script>
        $(function () {

            $('#mi-slider').catslider();

        });
		</script>
</body>
</html>
