<div class="col-md-12 footer-box">
    <div class="col-md-6">
            <div class="col-md-6 col-sm-6" style="margin-left: 250px;">
                <h4><a href="{% url 'contact' %}" ><strong>Если есть вопросы, то напишите нам </strong></a></h4>
        </div>
    </div>

    <div class="col-md-6">
        <strong>Наш юридический адрес</strong>
        <hr>
        <p>
            Воронеж,<br />
            Перевёрткина 19, Россия<br />
            Номер: 8-800-555-35-35<br>
            Почта: info@yourdomain.com<br>
        </p>

        2022 www.yourdomain.com | Все права защищены
    </div>
</div>
<hr>
</div>
<!-- /.col -->
<div class="col-md-12 end-box ">
    &copy; 2022 | Все права защищены | &nbsp; www.yourdomain.com | &nbsp; Контакты | &nbsp; Почта: info@yourdomain.com
</div>